body{
	
  color: black;
	background-color: #F9F7ED
}

body img.uvigo{
	margin-bottom: 10px;
	clear: right;
	float: right;
	
}

fieldset.seccion1{
	margin:30px;
	padding-top: 0.35em;
	border-color: #088A08;
	
}

fieldset.seccion2{
	padding-top: 0.35em;
	border-color: #8258FA;
}

fieldset.seccion3{
	padding-top: 0.35em;
	border-color: #088A08;
}

legend.enunciado1{
	color:  #8258FA;
}

legend.enunciado2{
	color:  #088A08;
}

body input.enviar{
	background-color:#9FF781;
}

body input.reset{
	background-color:#F78181 ; 
}

body L1{
	padding-left: 15px;
}

body L2{
	padding-left: 100.5px;
}

body L4{
  padding-left: 5px;
  color:#0101DF;
}

body L3{
 padding-left: 20;
}

address{
	border-top-style: inset;
	margin-top: 10px;
	border-top-color:#8258FA;
	
}

address.Muralla{
	padding-top: 5px;
}
